.container {
    margin: 10rem auto 2rem;
    width: 80%;
}
.header {
    text-align: center;
    h1 {
        font-size: 3rem;
        color: var(--white);
        text-shadow: 1px 0 2px black;
    }
}