:root {
  --white: hsl(0, 0%, 100%);
  --white-disabled: hsl(0, 2%, 63%);
  --black: hsl(0, 0%, 0%);
  --green: hsl(120, 74%, 38%);
  --green-disabled: hsl(120, 35%, 26%);
  --blue: hsl(198, 100%, 50%);
  --violet: hsl(300, 76%, 72%);
  --orange: hsl(39, 100%, 50%);
  --silver: hsl(0, 0%, 75%);
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(2px);
  background-image: linear-gradient(
        180deg,
        hsla(0, 0%, 0%, 0.1),
        hsla(0, 0%, 100%, 0.8),
        var(--white),
      ),
      url('./assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--black);
}
/* Customize scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--white);
}
::-webkit-scrollbar-thumb {
  background-color: hsl(0, 3%, 79%);
}
@media screen and (max-width: 768px) {
  body::before {
    background-size: cover;
    background-position: center;
  }
}

