.card {
    background: var(--white);
    padding: 1rem 1.5rem 0.5rem;
    border-radius: 2px;
    box-shadow: 1px 2px 5px 2px hsla(0, 0%, 0%, 0.1);
    width: 430px;
    min-height: 210px;
    margin: 0 1rem 0.8rem;
    transition: box-shadow 0.2s ease-in-out;
    &:hover {
        box-shadow: 2px 4px 6px 3px hsla(0, 0%, 0%, 0.3);
    }
    summary {
        margin: 1rem 0 0.5rem;
        word-break: break-all;
        font-weight: 300;
    }
}
.card__h5 {
    font-weight: 500;
    margin: 0;
}
.card__title {
    font-weight: 600;
    margin: 0 1rem 0 0;
}
.card__title__btn {
    background-color: silver;
    cursor: default;
    padding: 0.3rem;
    min-width: 55px;
}
.card__location {
    display: flex;
    margin-bottom: 0.8rem;
    span {
        margin-right: 0.2rem;
        margin-left: -0.3rem;
    }
    small {
        font-weight: 600;
    }
}
.card__date {
    font-weight: 600;
}
@media screen and (max-width: 600px) {
    .card {
        width: 390px;
    }
}